# Expo / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml

# Expo
.expo/
expo-env.d.ts
.expo-shared/local*
web-build/

# Environment / secrets
.env
.env.*
.env.*.local
google-services.json
GoogleService-Info.plist
credentials.json

# Native
/ios
/android
ios/Pods/
ios/build/
DerivedData/
*.xcuserstate
*.moved-aside
*.xcworkspace/xcuserdata/
*.keystore
*.jks
*.p12
*.pem
*.mobileprovision
*.orig.*
.kotlin/

# Build / caches
.cache/
tmp/
*.log
coverage/
dist/
*.tsbuildinfo

# Editor / IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
.pnpm-debug.log*
.pnp.*
.parcel-cache/

# CI / Fastlane
fastlane/report.xml
fastlane/Preview.html

# Keep GitHub workflows
!.github/
